.giveClothesFormConfirm {
    height: 38rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 20px 0 20px;

    .formConfirmContainer {
        height: 100%;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        h2 {
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 20px;
        }

        .confirmThingsContainer {
            width: 100%;
            display: flex;
            justify-content: flex-start;

            p {
                padding-top: 40px;
            }
        }

        .confirmLocalizationContainer {
            width: 100%;
            display: flex;
            justify-content: flex-start;

            p {
                padding-top: 40px;
            }
        }

        .confirmCourierInformation {
            width: 100%;
            display: flex;

            h3 {
                padding: 10px 0 10px 0;
                font-weight: bold;
            }

            .confirmAdressInformation {
                width: 50%;
            }

            .confirmPickUpInformation {
                width: 50%;
            }
        }
    }

    button {
        height: 50px;
        width: 100px;
        background: transparent;
        border: 1px solid black;
    }

    button:hover {
        border: 0.75px solid $orange_color;
        cursor: pointer;
    }

    button:first-of-type {
        position: absolute;
        bottom: 10px;
        right: 120px;
    }

    button:last-of-type {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

}

.teddyContainer {
    width: 300px;

}