.adminPanelContainer {
    background: #E8F5F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    h1 {
        font-size: 23px;
        padding: 25px 0 25px 0;
    }

    .toHomePageButton {
        position: absolute;
        top: 25px;
        right: 25px;
        background: transparent;
        border: none;
    }

    .toHomePageButton:hover {
        border: 0.75px solid $orange_color;
        cursor: pointer;
    }

    .userListContainer {
        width: 100%;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        p {
            padding: 25px 0 25px 0;
        }

        ul {
            margin-bottom: 20px;
        }

        ul>li {
            display: flex;
            justify-content: space-between;

            button {
                margin-left: 20px;
            }

            button:hover {
                cursor: pointer;
            }
        }
    }

    .organizationsListContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding:0 0 25px 0;

        p {
            padding: 25px 0 25px 0;
        }

        .addOrganizationContainer {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        ul {
            width: 80%;
        }

        ul>li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;

            button {
                margin-left: 20px;
            }

            button:hover {
                cursor: pointer;
            }
        }
    }

    .formMessageContainer {
        width: 100%;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px 0 25px 0;

            ul {
            width: 80%;
        }

        ul>li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;

            button {
                margin-left: 20px;
            }

            button:hover {
                cursor: pointer;
            }
        }
    }

    .helpFormContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 50px;
        width: 100%;

     
        ul {
            width: 80%;
        }

        ul>li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;

            button {
                margin-left: 20px;
            }

            button:hover {
                cursor: pointer;
            }
        }
    }
}