    .menuLoginContainer {
        position: absolute;
        top: 37px;
        left: 850px;
        width: 650px;
        height: 95px;

        .loginContainer {
            width: 100%;
            height: 53px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            button {
                height: 30px;
                padding: 5px 5px 5px 5px;
                background: transparent;
                border: none;
            }

            button:hover {
                border: 0.75px solid $orange_color;
            }
        }

        .menuContainer {
            top: 90px;
            left: 1075px;
            width: 100%;

            ul {
                height: 42px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .menuHoverElement {
                    font-size: 18px;
                    padding: 9px 9px 9px 9px;
                }

                .menuHoverElement:hover {
                    border: 0.75px solid $text_border_color;

                }

            }
        }
    }

    .loginDataContainer {
        position: absolute;
        top: 100px;
        left: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 400px;

        p {
            padding-top: 40px;
            font-size: 22px;
        }

        img {
            padding: 20px 0 20px 0;
        }

        div {
            width: 100%;
            height: 150px;
            background: lightgray;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                input {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid $form_text_color;

                }

                label {
                    font-weight: bold;
                    padding: 10px 0 10px 0;
                }

                .infoFromLoginPage {
                    font-size: 10px;
                    color: red;
                }

            }
        }

        button {
            height: 30px;
            width: 90px;
            background-color: transparent;
            border: none;

        }

        button:hover {
            border: 0.75px solid $form_text_color;
        }

        button:first-of-type {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        button:last-of-type {
            position: absolute;
            bottom: 0;
            right: 0;
        }

    }

    .infoFromLoginPage {
        font-size: 5px;
        color: $form_text_color;
    }